<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>快递小哥主页面</title>
    <link rel="stylesheet" href="">
</head>

<body>
    <div>
        <ul>
            <li>待处理订单1  <a href="express_write_goods_info">填写商品信息</a></li>
            <li>待处理订单2</li>
            <li>待处理订单3</li>
            <li>待处理订单4</li>
            <li>......</li>
        </ul>
        <ul>
            <li>待配送订单1 <a href="">签收</a></li>
            <li>待配送订单2</li>
            <li>待配送订单3</li>
        </ul>

    </div>
    <div>

    </div>
</body>

</html>