{% extends 'order/start.html' %}
{% block title %}
我的
{% endblock %}

{% block body %}
<div>
        <ul>
                <li>
                        <h2>我的信息</h2>
                </li>
                <li>
                        修改绑定手机:<input type="text" value="">
                </li>
                <li>
                        生&emsp;&emsp;&emsp;&emsp;日: <input type="text" name="" id="">
                </li>
                <li>
                        性&emsp;&emsp;&emsp;&emsp;别: <input type="text" name="" id="">
                </li>
                <li>
                        头&emsp;&emsp;&emsp;&emsp;像: <input type="text" name="" id="">
                </li>
                <li>
                        <a href='/'>注销</a>
                </li>
        </ul>

</div>
{% endblock %}

