<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>寄件人信息</title>
    <link rel="stylesheet" href="/static/css/order.css">
</head>
<body>
<form action="" method="post">
    <ul>
        <li>
            姓名:<input type="text" name="name" value="{{ name }}">
        </li>
        <li>
            电话:<input type="text" name="telephone" value="{{ telephone }}">
        </li>
        <li>
            城市/区域:<input type="text" name="city" value="{{ city }}">
        </li>
        <li>
            详细地址:<input type="text" name="detailed_address" value="{{ detailed_address }}">
        </li>
        <li>
            公司名称:<input type="text" name="name_of_company" value="{{ name_of_company }}">
        </li>
        <li>
            <input type="submit" value="提交">
        </li>
        <li>
            <a href="address_write_by_page">快捷填写</a>
            <a href="">填入地址簿</a>
        </li>
    </ul>

</form>


</body>
</html>