<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>登录</title>

    <link rel="stylesheet" href="/static/css/user.css">
</head>

<body>
    <div id="login">
        <img src="/static/imgs/background/background3.jpg" alt="">
    </div>
    <form action="check_user" method="POST">
        <div id="title">
            <h2>
                    物流公司
            </h2>
        </div>

        <div id="log">

            <p style="font-size: 20px;text-align: center;margin-bottom: 50px;margin-top: 64px">
                登录界面
            </p>
            <p>
                <input class="" type="text" name="user" placeholder="支持邮箱/手机号登录"" />
            </p>
            <p>
                <input type=" password" name="password" placeholder='密码' />
            </p>
            <p>
                <input class="submit_log" type="submit" value="登录" />
            </p>
            <p style="margin-top: 28px">
                &emsp;&emsp;
                <a href="" style="text-align: center">
                    <img class="icon" src="/static/imgs/icon/qqdenglu.png" alt="">
                </a>
                &emsp;&emsp;
                <a href="">
                    <img class="icon" src="/static/imgs/icon/weixindenglu.png" alt="">
                </a>
                &emsp;&emsp;
                <a href='register'>
                    <img class="icon" src="/static/imgs/icon/zhucezhanghu.png" alt="">
                </a>
            </p>
        </div>

    </form>
</body>

</html>