
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>waybill测试页</title>
    <link rel="stylesheet" href="../../static/waybill/css/waybill.css">
</head>
<body>
<form action="/waybill/appstart" method="post">
    <p>
        标题：<input type="text"name="test1">
        <input type="submit" value="保存">
    </p>
    <textarea name="content" id="50" cols="30" rows="10"></textarea>
    
</form>
<div>
    {{ test1 }}
    {{ content }}
    
</div>
<script src="../../static/waybill/js/jquery.min.js"></script>
<script src="../../static/waybill/js/waybill.js"></script>
</body>
</html>

