<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>运单小哥主页面</title>
    <link rel="stylesheet" href="/static/css/order.css">
</head>

<body>
    <div id="header">
        <span style="float: left">
            <a href="">
                <h1>运单管理</h1>
            </a>
        </span>
        <span class="list">
            <ul>
                <li>
                    <a href="main_my_info">我的</a>
                </li>
            </ul>

        </span>

    </div>


    <div id="master" style="height: 400px">
        <a href="">确认接收(可以做成扫码)</a>
        <p>
            <a href="">确认交付</ar>
        </p>
        <p>
            交付人
        </p>


    </div>
    <div id='footer'>
        声明:
    </div>
</body>

</html>